@workdigital:registry=https://${CI_SERVER_HOST}/api/v4/projects/${CI_PROJECT_ID}/packages/npm/ >.npmrc
//${CI_SERVER_HOST}/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken="${CI_JOB_TOKEN}" >>.npmrc
legacy-peer-deps=true >>.npmrc
